<!-- approval notif -->
<div v-if="core.notif.kind=='approval'" class="d-flex flex-column flex-fill">
  <b-alert variant="warning" class="m-2 flex-grow-1 small" show>
    <h4 class="alert-heading mb-3"><b>{{ core.notif.name }}</b>
      is requesting approval</h4>
    <p class="mb-1">Make sure you trust this site before accepting.</p>
    <p class="mb-1">Here is a list of the things that you are allowing if you accept the request:</p>
    <ul class="mb-1">
      <li>get your selected network</li>
      <li>get your selected account</li>
      <li>send you signing requests via Metal</li>
    </ul>
  </b-alert>
  <b-alert variant="primary" class="m-2" show>
    <h3 class="alert-heading d-flex justify-content-between">
      <span>{{ core.notif.name }}</span>
      <img v-if="core.notif.icon!=undefined" :src="core.notif.icon" alt="connection_requester">
    </h3>
    <div>
      <span>url</span>
      <span class="px-3 overflow-den">{{ core.notif.url }}</span>
    </div>
    <div class="my-2 mx-5 d-flex justify-content-between">
      <b-button @click="approve_url()" variant="outline-success" size="md" class="btn-circle">
        <i class="fas fa-check"></i>
      </b-button>
      <b-button @click="refuse_notif()" variant="outline-danger" size="md" class="btn-circle">
        <i class="fas fa-times"></i>
      </b-button>
    </div>
  </b-alert>
</div>

<!-- error notification -->
<div v-else-if="core.notif_error!=undefined" class="d-flex flex-column">
  <b-alert variant="danger" class="m-2 flex-fill d-flex flex-column" show>
    <h3 class="alert-heading">
      <i class="fas fa-exclamation"></i>
      <span class="ml-2">Oops ! An error occured...</span>
    </h3>
    <div class="flex-grow-1">
      <div class="pb-1">Here is some informations about what happened :</div>
      <div v-for="(error, index) in core.notif_error" :key="index">
        <div class="pb-1">Code: {{ error.code }}</div>
        <div class="pb-1">
          Message :
          <pre class="p-2 bg-danger">{{ error.content }}</pre>
        </div>
      </div>
    </div>
    <div class="mt-2 text-center mb-5">
      <b-button @click="close_notif()" variant="outline-danger" size="md" class="btn-circle">
        <i class="fas fa-times"></i>
      </b-button>
    </div>
  </b-alert>
</div>

<!-- operation loading -->
<div v-else-if="core.notif.kind!='approval' && core.forging" class="m-auto text-center">
  <div class="mb-5">
    <h2>Forging the operation</h2>
  </div>
  <div>
    <img src="/img/pickaxe.png" alt="Forging" class="rotate-90-cw"/>
  </div>
  <div class="my-5">
    <h3>Please wait...</h3>
  </div>
</div>

<!-- operation notification -->
<div v-else-if="core.notif.kind=='operation'" class="d-flex flex-column flex-fill">

  <!-- source/destination/delegate -->
  <div class="d-flex mt-1 mx-auto">
    <div class="d-flex flex-row align-items-center tr-infos mr-2" v-if="core.notif.op.kind=='transaction' || core.notif.op.kind=='origination'">
      <i class="fas fa-level-down-alt"></i>
    </div>
    <div class="d-flex flex-column flex-fill">
      <div class="d-flex flex-row mb-1 notif-op-header-account">
        <v-account v-if="core.manage_account_admin!=undefined" len="36" height="16" ratio="2" :pkh="core.manage_account_admin"></v-account>
        <v-account v-else :pkh="core.account.pkh" len="36" height="16" ratio="2"></v-account>
      </div>
      <span style="font-size:18px;"class="text-center font-weight-bold" v-if="core.notif.op.kind=='delegation'">Delegate change</span>
      <div class="d-flex flex-row align-items-center mb-1 notif-op-header-account" v-if="core.notif.op.kind!='delegation'">
        <v-account  v-if="core.notif.op.kind=='transaction'" :pkh="core.notif.op.transaction.destination" len="36" height="16" ratio="2"></v-account>
        <span v-else-if="core.notif.op.kind=='origination'">
          <i class="mr-1 fas fa-question-circle" style="width:32px;height:32px"></i>
          <span style="font-size:15px;">New Contract</span>
        </span>
        <span v-else-if="core.notif.op.kind=='manage_account'">
          Manage Account
        </span>
      </div>
      <div v-else class="delegation text-center">
        <div class="d-flex flex-row align-items-center mb-1 notif-op-header-account justify-content-start old-delegate">
          <i style="font-size:18px;" class="fas fa-hand-point-right"></i>
          <v-account :pkh="core.old_delegate" class="mx-3" v-if="core.old_delegate!=undefined" height="14" len="36"></v-account>
          <span v-else>
            <span style="font-size:14px;" class="mx-3">No former delegate</span>
          </span>
        </div>
        <div class="d-flex flex-row align-items-center mb-1 notif-op-header-account justify-content-start new-delegate">
          <i style="font-size:18px;" class="fas fa-hand-point-right"></i>
          <span style="font-size:14px;" class="mx-3" v-if="core.notif.op.delegation.delegate==undefined">No Delegate</span>
          <v-account v-else height="14" ratio="2" :pkh="core.notif.op.delegation.delegate" class="mx-3" len="36"></v-account>
        </div>
      </div>
    </div>
  </div>

  <!-- notification information -->
  <div class="d-flex flex-grow-1">
    <b-tabs class="d-flex flex-grow-1 flex-column" nav-class="px-1" content-class="d-flex flex-grow-1" active-tab-class="d-flex flex-fill">

      <!-- amount tab -->
      <b-tab title-link-class="flex-grow-1 p-1 small" title="Amount" active>
        <v-amount
          :amount="core.op_result.amount"
          :burn="core.op_result.burn"
          :kind="core.notif.op.kind"
          :collectCall="core.notif.op.transaction ? core.notif.op.transaction.collectCall : undefined"
          :managerKT="core.account.managerKT"
          :fee="core.op_result.fee"
          :total="core.notif.op.kind=='transaction' && core.notif.op.transaction.collectCall ? core.op_result.amount : String(parseInt(core.op_result.amount) + parseInt(core.op_result.fee) + parseInt(core.op_result.burn))">
        </v-amount>
      </b-tab>

      <!-- details tab -->
      <b-tab title-link-class="p-1 small" title="Details">
        <div class="d-flex flex-column m-3">
          <div v-if="core.notif.op.kind=='origination' && core.notif.op.origination.delegate!=undefined" class="mr-4">
            <span class="text-nowrap">Delegate</span>
            <v-dun class="ml-3" :pkh="core.notif.op.origination.delegate" height="17" len="20"></v-dun>
          </div>

          <div  class="mr-4">
            <span class="text-nowrap">Gas Limit</span>
            <span class="ml-3">{{ core.op_result.gas_limit }}</span>
          </div>
          <div  class="mr-4">
            <span class="text-nowrap">Storage Limit</span>
            <span class="ml-3">{{ core.op_result.storage_limit }}</span>
          </div>
        </div>
      </b-tab>

      <!-- parameters tab -->
      <b-tab title-link-class="p-1 small" title="Parameters" v-if="core.notif.op.kind=='transaction' && core.notif.op.transaction.parameters!=undefined" style="overflow:auto">
        <div class="param w-100 m-1" style="height:0px">
          <span>Entrypoint</span>
          <pre>{{ core.notif.op.transaction.parameters.entrypoint == undefined ? 'default' : core.notif.op.transaction.parameters.entrypoint }}</pre>
          <span>Parameter</span>
          <pre v-if="core.notif.op.transaction.parameters.value!=undefined">{{dune_script(core.notif.op.transaction.parameters.value, false)}}</pre>
        </div>
      </b-tab>

      <!-- script tab -->
      <b-tab title-link-class="p-1 small" title="Script" v-if="core.notif.op.kind=='origination' && core.notif.op.origination.script.code!=undefined" style="overflow:auto;">
        <div class="param w-100 m-1" style="height:0px">
          <div>
            <pre>{{ dune_script(core.notif.op.origination.script.code, true) }}</pre>
          </div>
        </div>
      </b-tab>

      <!-- storage tab -->
      <b-tab title-link-class="p-1 small" title="Storage" v-if="core.notif.op.kind=='origination'" style="oveflow:auto">
        <div class="param w-100 m-1" style="height:0px">
          <pre>{{ dune_script(core.notif.op.origination.script.storage, true) }}</pre>
        </div>
      </b-tab>

      <!-- code hash tab -->
      <b-tab title-link-class="p-1 small" title="Code Hash" v-if="core.notif.op.kind=='origination' && core.notif.op.origination.script.codeHash!=undefined" style="overflow:auto">
        <div class="param w-100 m-1" style="height:0px">
          <pre>{{ core.notif.op.origination.script.codeHash }}</pre>
        </div>
      </b-tab>

      <!-- manage account options tab -->
      <b-tab title-link-class="p-1 small" title="Options" v-if="core.notif.op.kind=='manage_account'">
        <div class="d-flex flex-column m-3">
          <div class="flex-fill" v-if="core.notif.op.manage_account.json!=undefined">
            <div class="param">
              <span>JSON</span>
              <pre>{{ core.notif.op.manage_account.json }}</pre>
            </div>
          </div>
          <div class="flex-fill" v-if="core.notif.op.manage_account.set_maxrolls">
            <div class="param">
              <span>Maxrolls</span>
              <span>{{ core.notif.op.manage_account.maxrolls == undefined ? 'unset' : core.notif.op.manage_account.maxrolls }}</span>
            </div>
          </div>
          <div class="flex-fill" v-if="core.notif.op.manage_account.set_admin">
            <div class="param">
              <span>Admin</span>
              <v-account v-if="core.notif.op.manage_account.admin!=undefined" height="17" :pkh="core.notif.op.manage_account.admin"></v-account>
              <span v-else>unset</span>
            </div>
          </div>
          <div class="flex-fill" v-if="core.notif.op.manage_account.set_recovery">
            <div class="param">
              <span>Recovery</span>
              <v-account v-if="core.notif.op.manage_account.recovery!=undefined" height="17" :pkh="core.notif.op.manage_account.recovery"></v-account>
              <span v-else>unset</span>
            </div>
          </div>
          <div class="flex-fill" v-if="core.notif.op.manage_account.whiteList!=undefined">
            <div class="param">
              <span>White List</span>
              <ul v-if="core.notif.op.manage_account.whiteList!=[]" height="17" :pkh="core.notif.op.manage_account.recovery">
                <v-account v-for="acc in core.notif.op.manage_account.whiteList" :key="acc"></v-account>
              </ul>
              <span v-else>unset</span>
            </div>
          </div>
          <div class="flex-fill" v-if="core.notif.op.manage_account.delegation!=undefined">
            <div class="param">
              <span>Delegation</span>
              <span>{{ core.notif.op.manage_account.delegation ? 'open' : 'closed' }}</span>
            </div>
          </div>

        </div>
      </b-tab>
    </b-tabs>
  </div>

  <!-- notification buttons -->
  <b-alert variant="primary" class="m-2" show>
    <h3 class="alert-heading d-flex justify-content-between">
      <span>The selected network is {{ core.notif.network || core.network }}</span>
    </h3>
    <div v-if="core.notif.network!=undefined && core.notif.network!=core.network">
      <b-icon-exclamation-triangle-fill variant="danger"/>
      <span class="text-danger">This network was selected by the sending application</span>
    </div>
    <span v-if="core.notif.type=='batch'">Include this in a batch to be send to the blockchain later</span>
    <span v-else>Sending tokens is irreversible</span>

    <b-input-group v-if="core.batch_notif && (core.notif.type=='batch' || core.notif.type=='loop' || !core.notif.type)" prepend="Postpone for">
      <b-form-select :options="[{value:0, text:'next block'}, {value:60, text:'1 minute'},{value:300, text:'5 minutes'},{value:600, text:'10 minutes'},{value:1800, text:'30 minutes'},{value:3600, text:'1 hour'}]" v-model="core.postpone_time"></b-form-select>
    </b-input-group>
    <div class="my-2 mx-5 d-flex justify-content-between">
      <b-button @click="inject_op()" variant="outline-success" size="md" class="btn-circle" v-if="!core.injecting && core.notif.type!='batch'">
        <i class="fas fa-check"></i>
      </b-button>
      <b-button variant="outline-primary" size="md" class="btn-circle" v-else-if="core.notif.type!='batch'">
        <i class="fas fa-hourglass-half"></i>
      </b-button>
      <b-button v-if="core.notif.type=='batch' || (core.batch_notif && !core.notif.type)" @click="add_to_batch()" variant="outline-primary" size="md" class="btn-circle" title="This will add the operation to a batch that can be send to the blockchain later (the app can trigger an request to sign and include the batch or you can do it in the notif list.">
        <i class="fas fa-angle-double-right"></i>
      </b-button>
      <b-button @click="refuse_notif()" variant="outline-danger" size="md" class="btn-circle">
        <i class="fas fa-times"></i>
      </b-button>
    </div>
  </b-alert>
</div>

<!-- batch notification -->
<div v-else-if="core.notif.kind=='batch'">

  <!-- source/destination/delegate -->
  <div class="d-flex my-1 mx-auto">
    <div class="d-flex flex-row align-items-center tr-infos mr-2">
      <i class="fas fa-level-down-alt"></i>
    </div>
    <div class="d-flex flex-column flex-fill">
      <div class="d-flex flex-row align-items-center mb-1 notif-op-header-account">
        <v-account :pkh="core.account.pkh" len="36" height="16" ratio="2"></v-account>
      </div>
      <span class="text-center font-weight-bold">Several destinations</span>
    </div>
  </div>

  <!-- notification information -->
  <div class="d-flex flex-grow-1">
    <b-tabs class="d-flex flex-grow-1 flex-column" nav-class="px-1" content-class="d-flex flex-grow-1" active-tab-class="d-flex flex-fill">

      <!-- amount tab -->
      <b-tab title-link-class="flex-grow-1 p-1 small" title="Amount" active>
        <v-amount
          :amount="core.op_result.amount"
          :burn="core.op_result.burn"
          :kind="undefined"
          :collectCall="undefined"
          :managerKT="undefined"
          :fee="core.op_result.fee"
          :total="String(parseInt(core.op_result.amount) + parseInt(core.op_result.fee) + parseInt(core.op_result.burn))">
        </v-amount>
      </b-tab>

      <!-- details tab -->
      <b-tab title-link-class="p-1 small" title="Details">
        <div class="d-flex flex-column m-3">
          <div class="mr-4">
            <span class="text-nowrap">Number of operations</span>
            <span class="ml-3">{{ core.ops_result.length }}</span>
          </div>
          <div class="mr-4">
            <span class="text-nowrap">Gas Limit</span>
            <span class="ml-3">{{ core.op_result.gas_limit }}</span>
          </div>
          <div class="mr-4">
            <span class="text-nowrap">Storage Limit</span>
            <span class="ml-3">{{ core.op_result.storage_limit }}</span>
          </div>
        </div>
      </b-tab>

      <!-- tab for each batched operation -->
      <b-tab title-link-class="p-1 small" :title="'Op '+ String(index + 1)" v-for="(item, index) in core.ops_result.slice(0,10)" style="overflow:auto" :key="index">
        <div class="d-flex flex-column m-3 flex-fill" style="height:0px">
          <div class="d-flex mx-auto">
            <div class="d-flex flex-row align-items-center tr-infos mr-2" v-if="item.kind=='transaction'">
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
            <div class="d-flex flex-column flex-fill">
              <span class="text-center font-weight-bold" v-if="item.kind=='delegation'">Delegate change</span>
              <div class="d-flex flex-row align-items-center notif-op-header-account" v-if="item.kind!='delegation'">
                <v-account v-if="item.kind=='transaction'" :pkh="item.transaction.destination" len="36" height="15" ratio="2"></v-account>
                <span v-else-if="item.kind=='origination'">
                  <i class="fas fa-file-code align-middle"></i>
                  <span style="font-size:15px;">New Contract</span>
                </span>
                <span v-else-if="item.kind=='manage_account'">
                  Manage Account
                </span>
              </div>
              <div v-else class="delegation text-center">
                <div class="d-flex flex-row align-items-center notif-op-header-account justify-content-start old-delegate">
                  <i style="font-size:18px;" class="fas fa-hand-point-right"></i>
                  <v-account :pkh="core.old_delegate" class="mx-3" v-if="core.old_delegate!=undefined" height="15" len="25"></v-account>
                  <span v-else>
                    <span class="mx-3">No former delegate</span>
                  </span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1 notif-op-header-account justify-content-start new-delegate">
                  <i style="font-size:18px;" class="fas fa-hand-point-right"></i>
                  <span class="mx-3" v-if="item.delegation.delegate==undefined">No Delegate</span>
                  <v-account v-else height="15" ratio="2" :pkh="item.delegation.delegate" class="mx-3" len="25"></v-account>
                </div>
              </div>
            </div>
          </div>

          <v-amount v-if="item.kind!='delegation'"
                    :amount="item.kind=='transaction' ? item.transaction.amount : item.kind=='origination' ? item.origination.balance : '0'"
                    :burn="item.info.burn"
                    :kind="item.kind"
                    :collectCall="undefined"
                    :managerKT="core.account.managerKT"
                    :fee="item.info.fee!=undefined && item.info.fee!=0 ? item.info.fee : '0'"
                    :total="String(parseInt(item.kind=='transaction' ? item.transaction.amount : item.kind=='origination' ? item.origination.balance : '0') + parseInt(item.info.fee!=undefined ? item.info.fee : '0') + parseInt(item.info.burn!=undefined ? item.info.burn : '0'))">
          </v-amount>
        </div>
      </b-tab>

    </b-tabs>
  </div>

  <!-- notification buttons -->
  <b-alert variant="primary" class="m-2" show>
    <h3 class="alert-heading d-flex justify-content-between">
      <span>The selected network is {{core.network}}</span>
    </h3>
    <span>Sending tokens is irreversible</span>
    <b-input-group v-if="core.batch_notif && (core.notif.type=='batch' || core.notif.type=='loop' || !core.notif.type)" prepend="Postpone for">
      <b-form-select :options="[{value:0, text:'next block'}, {value:60, text:'1 minute'},{value:300, text:'5 minutes'},{value:600, text:'10 minutes'},{value:1800, text:'30 minutes'},{value:3600, text:'1 hour'}]" v-model="core.postpone_time"></b-form-select>
    </b-input-group>
    <div class="my-2 mx-5 d-flex justify-content-between">
      <b-button @click="inject_op()" variant="outline-success" size="md" class="btn-circle" v-if="!core.injecting && core.notif.type!='batch'">
        <i class="fas fa-check"></i>
      </b-button>
      <b-button variant="outline-primary" size="md" class="btn-circle" v-else-if="core.notif.type!='batch'">
        <i class="fas fa-hourglass-half"></i>
      </b-button>
      <b-button v-if="core.notif.type=='batch' || (core.batch_notif && !core.notif.type)" @click="add_to_batch()" variant="outline-primary" size="md" class="btn-circle" title="include operation in a batch to be sent later">
        <i class="fas fa-angle-double-right"></i>
      </b-button>
      <b-button v-else-if="core.notif.type=='loop'" @click="postpone_batch()" variant="outline-primary" size="md" class="btn-circle" title="postpone">
        <i class="fas fa-history"></i>
      </b-button>
      <b-button @click="refuse_notif()" variant="outline-danger" size="md" class="btn-circle">
        <i class="fas fa-times"></i>
      </b-button>
    </div>
  </b-alert>
</div>
