<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Metal Notification</title>

    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-vue.min.css" type="text/css" rel="stylesheet">
    <link href="/css/animista.css" rel="stylesheet" type="text/css">
    <link href="/css/metal-popup.css" rel="stylesheet" type="text/css">

    <!-- Loaded scripts -->
    <script src="/js/vue.runtime.min.js"></script>
    <script src="/js/bootstrap-vue.min.js"></script>
    <script src="/js/bootstrap-vue-icons.min.js"></script>
    <script src="/fontawesome/solid.min.js" defer></script>
    <script src="/fontawesome/brands.min.js" defer></script>
    <script src="/fontawesome/fontawesome.js" defer></script>
    <script src="/js/blockies.min.js"></script>
    <script src="/metal-notif.js" defer></script>

  </head>

  <body style="width:357px; height:600px">
    <div id="app-loading" class="h-100" v-if="path=='loading'" style="display: flex">
      <div class="mx-auto my-auto">
        <div class="text-center">
          <img src="img/metal.gif" alt="Dune Metal" class="dune-gif">
        </div>
        <div class="text-center">
          <span>Loading...</span>
        </div>
      </div>
    </div>
    <div id="app" v-else style="display:none" class="flex-fill">
    </div>
  </body>
</html>
